* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cotainer {
    height: 100vh;
    width: 100%;
    background-color: #fff;
    display: flex;
}
.login {
    width: 38%;
    position: fixed;
    right: 60%;
    top: 20%;
}
.form {
    max-width: 1920px;
    width: 100%;

}
form {
    margin-top: 30px;
}
form .field {
    height: 50px;
    width: 100%;
}
.field input {
    height: 100%;
    width: 100%;
}
.field h2 {
    height: 100%;
    width: 100%;
}
.header {
    display: inline-block;

}
.header .one {
    position: absolute;

}
#logo {
    height: 30px;
    width: 40px;
    position: absolute;
    top: 2px;
}
.border {
    height: 1px;
    width: 100%;
    background-color: 3px solid #d4d4d4;
    margin-top: 10px;
}